@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.animated-header {
    height: 451px;
    width: 100%;
    background-image: url(../img/robot-game.jpg);
    background-repeat: no-repeat;
    padding-top: 90px;
    margin-bottom: 75px;
    padding-bottom: 0;
    background-position: center;
}

.animated-header .animated-header__title {
    font-weight: bold;
    font-size: 38px;
}

.animated-header .animated-header__subtitle {
    color: white;
    font-size: 34px;
    font-weight: normal;
    line-height: 1.5;
}

.animated-header__ilustration {
    background-image: url(../img/cenario_all_960.png);
    height: 150px;
    background-size: auto 100%;
    background-position: 50% top;
}

.animated-header__ilustration>div {
    display: none;
}

@keyframes transform_scene {
    from {
        transform: translateX(-50%) translateZ(0);
    }
    to {
        transform: translateX(0%) translateZ(0);
    }
}

@media screen and (min-width: 480px) {
    .animated-header__ilustration {
        background: url(../img/cenario_all_1530.png);
    }
}

@media screen and (min-width: 960px) {
    .animated-header__ilustration {
        background-image: url(../img/cenario_bg.png);
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    .animated-header__ilustration>div {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 4800px;
    }
    .animated-header__ilustration .clouds {
        background-image: url(../img/cenario_nuvens.png);
        animation: transform_scene 90s linear infinite reverse;
    }
    .animated-header__ilustration .houses {
        background-image: url(../img/cenario_casas.png);
        animation: transform_scene 20s linear infinite reverse;
    }
    .animated-header__ilustration .street {
        background-image: url(../img/cenario_rua.png);
        animation: transform_scene 20s linear infinite reverse;
    }
    .animated-header__ilustration .carsTop {
        background-image: url(../img/cenario_carrosCima.png);
        animation: transform_scene 15s linear infinite reverse;
    }
    .animated-header__ilustration .carsDown {
        background-image: url(../img/cenario_carrosBaixo.png);
        animation: transform_scene 20s linear infinite;
    }
}

.js.menu-opened {
    overflow: hidden;
}

.js.menu-opened::after {
    content: '';
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-nav {
    background-color: #fdbd53;
}

.js .header-nav {
    height: 50px;
}

.js .header-nav .container {
    height: 100%;
}

.header-nav__logo {
    height: 50px;
    display: inline-block;
    max-width: 300px;
    position: relative;
    top: 10px;
    z-index: 2;
}

.header-nav__logo img {
    max-width: 100%;
    height: 100%;
}

.header-nav__hamburgger {
    display: none;
}

.js .header-nav__hamburgger {
    display: inline-block;
    height: 100%;
    border: none;
    background: transparent;
    color: white;
    font-size: 2em;
    padding: 0 .5em;
    float: right;
}

.js .header-nav__hamburgger:hover,
.js .header-nav__hamburgger:focus {
    background: #74aea5;
}

@media screen and (min-width: 680px) {
    .js .header-nav__hamburgger {
        display: none;
        float: right;
    }
}

.header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav__menu a {
    color: white;
    display: block;
    font-size: 1.5em;
    border-top: 1px solid #ffd658;
    padding: 1em;
}

.header-nav__menu a:hover {
    background-color: #ffd658;
    text-decoration: none;
}

@media screen and (max-width: 680px) {
    .js .header-nav__menu {
        background: #58988d;
        z-index: 1;
        position: fixed;
        top: 50px;
        left: -100%;
        width: 80%;
        bottom: 0;
        transition: left .3s ease-out;
    }
}

.menu-opened .header-nav__menu {
    display: block;
}

@media screen and (max-width: 680px) {
    .menu-opened .header-nav__menu {
        left: 0;
    }
}

@media screen and (min-width: 680px) {
    .header-nav__menu {
        display: inline-block;
        float: right;
        height: 50px;
    }
    .header-nav__menu li {
        display: inline-block;
    }
    .header-nav__menu li a {
        border-top: none;
        transition: all .3s ease-in-out;
        padding: 15px;
    }
    .header-nav__menu li a:hover {
        transform: translateY(0.5em);
        box-shadow: 0 5px 15px -10px black;
    }
}

.container__main {}

.container__main .card-portifolio {
    padding: 0;
    border-radius: 0;
    border: 1px solid transparent;
    position: relative;
}

.container__main .card-portifolio:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 12px;
    box-shadow: 0 15px 10px #000;
    z-index: -1;
}

.container__main .card-portifolio__image {
    overflow: hidden;
    height: 230px;
}

.container__main .card-portifolio__image img {
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    transition: opacity 0.7s linear, transform 1s ease-in;
}

.container__main .card-portifolio:hover img {
    opacity: 1;
    transform: scale(1.2);
}

.container__main .card-portifolio__btn {
    background: #ffd658;
    display: block;
    border: none;
    border-radius: 0;
    width: 100px;
    transition: background .3s linear;
    position: relative;
    margin-left: auto;
    margin-bottom: -1px;
}

.container__main .card-portifolio__btn:hover {
    background: #907113;
}

footer {
    background-color: #ffd658;
    color: white;
    padding: 1em 0;
}

footer ul {
    overflow: auto;
    padding: 0;
    width: 100%;
}

footer ul li {
    width: 20%;
    float: left;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
}

footer ul li a {
    font-size: 1.5em;
    color: white;
    display: block;
    text-align: right;
    margin-left: 80%;
}

footer ul li a:hover {
    color: #64a59a;
}

.icon-svg {
    fill: #fdbd53;
}

.paragraph {
    font-size: 16px;
    color: #000;
    line-height: 1.65em;
    margin: 0 0 12px;
    word-break: break-word;
    text-align: justify;
    margin-left: 12%;
    margin-left: 2em;
}

h3 {
    padding-top: 3em;
    margin-left: 1em;
}

img-robocuo {
    max-width: 300px;
    max-height: 300px;
}